body {

}
div.toolbar {
	background-color: #fbfbfb;
  height: 3.6em;
  font-family: verdana, calibri, arial;
  border: 1px #e6e6e6 solid;
  font-size: .9em;
  letter-spacing: .065em;
}
div.toolbar div {
	display: inline-block;
}

/* All Tool Styles */


/* Font Select */
div.select01 {
	margin: 1em .6em 1em 1em;
	position: relative;
	top: -4px;
}
.font-size.large {
	margin-right: .6em;
}


/* Font Input */
.font-input {
	position: relative;
	top: .05em;
}
.font-input input {
	width: 12em;
	height: 2em;
	font-style: italic;
	text-align: center;
	margin-right: 1em;
}


/* Slider */
div.slider {
	width: 150px;
	/* height: auto;
	margin: 100px auto 0; */
	position: relative;
}
#slider{
	border-radius: 2px;
	width: 150px;
	position: relative;
	top: 8px;
	height: 7px;
	background-color: #cccccc;
}
.tooltip {
	position: absolute;
	display: block;
	top: -22px;
	width: 35px;
	height: 20px;
	color: #fbffff;
	background-color: #1b9bfc;
	text-align: center;
	font: 10pt verdana, Tahoma, Arial, sans-serif ;
	border-radius: 3px;
	border: 1px solid #bababa;
}
.ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background: url('../images/slider-handle.png') no-repeat 50% 50%;
	outline: none;
	top: -9px;
	margin-left: -12px;
}
.font-size {
	color: #5a5a5a;
}
.font-size.small {
	font-size: .75em;
	position: relative;
	top: 2px;
}
.font-size.large {
	font-size: 1.25em;
	position: relative;
	top: 3px;
}


/* Width Checkbox */
.width-checkbox {
	color: #686868;
}
.checkbox-text {
	position: relative;
	top: .1em;
	font-size: .85em;
}


/* Color Swatch */
.color-swatch {
	position: relative;
	top: .5em;
	left: 1em;
}
.color-swatch:hover {
	cursor: pointer;
}

/* Font Style */
.font-style {
	position: relative;
	top: .6em;
	left: 1em;
	margin-left: 1em;
}
.font-style:hover {
	cursor: pointer;
}
