body {

}
div#toolbar {
	background-color: #fbfbfb;
  height: 3.6em;
  border: 1px #e6e6e6 solid;
  font-family: verdana, calibri, arial;
	letter-spacing: .065em;
	font-size: .9em;
}
div#toolbar div {
	display: inline-block;
}

/* General Styles */
.text {
	color: #6d6d6d;
	font-size: .85em;
}


/* Font Select */
div.select01 {
	margin: 1em .6em 1em 1em;
	position: relative;
	top: -.2em;
}
.font-size.large {
	margin-right: .6em;
}


/* Font Input */
.font-input {
	position: relative;
	top: .2em;
}
.font-input input {
	width: 12em;
	height: 2em;
	font-style: italic;
	text-align: center;
	margin-right: 1em;
}


/* Slider */
div.slider {
	width: 150px;
	/* height: auto;
	margin: 100px auto 0; */
	position: relative;
}
#slider{
	border-radius: 2px;
	width: 150px;
	position: relative;
	top: 8px;
	height: 7px;
	background-color: #cccccc;
}
.tooltip {
	position: absolute;
	display: block;
	top: -22px;
	width: 35px;
	height: 20px;
	color: #fbffff;
	background-color: #1b9bfc;
	text-align: center;
	font: 10pt verdana, Tahoma, Arial, sans-serif ;
	border-radius: 3px;
	border: 1px solid #bababa;
}
.ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background: url('../images/slider-handle.png') no-repeat 50% 50%;
	outline: none;
	top: -9px;
	margin-left: -12px;
}
.font-size {
	color: #5a5a5a;
}
.font-size.small {
	font-size: .75em;
	position: relative;
	top: 2px;
}
.font-size.large {
	font-size: 1.25em;
	position: relative;
	top: 3px;
}


/* Width Checkbox */
.width-checkbox {
	position: relative;
	top: .175em;
}
.checkbox-text {

}


/* Color Swatch */
.color-swatch {
	position: relative;
	top: .5em;
	left: 1.1em;
}
.color-swatch:hover {
	cursor: pointer;
}

/* Font Style */
.font-style {
	position: relative;
	top: .7em;
	left: 1.2em;
	margin-left: 1em;
}
.font-style:hover {
	cursor: pointer;
}

/* Gear Icon */
.gear-icon {
	position: relative;
	top: .6em;
	left: .5em;
	margin-left: 1em;
}
.gear-icon:hover {
	cursor: pointer;
}

/* Grid Icon */
.grid-icon {
	float: right;
	position: relative;
	top: -.1em;
	margin: 1em;
}
.grid-icon:hover {
	cursor: pointer;
}
.grid-icon img {
	height: 1.8em;
	width: auto;
}
.grid-text {
	margin: 0 .5em;
	position: relative;
	top: -.45em;
}

/* Samples Icon */
.samples-icon {
	float: right;
	margin: 1em 0;
	position: relative;
	top: -.1em;
}
.samples-icon:hover {
	cursor: pointer;
}
.samples-icon img {
	height: 1.8em;
	width: auto;
}
.samples-text {
	position: relative;
	top: -.6em;
	margin: 0 .5em;
}

/* Back to Top Up Arrow */
.up-arrow {
	float: right;
	margin: 1em 1em;
}
.up-arrow img {
	height: 1.7em;
	width: auto;
	position: relative;
}
.up-arrow a{
	text-decoration: none;
}
.up-arrow-text{
	margin-right: .5em;
	position: relative;
	top: -.6em;
}


/* Media Queries for Desktop */

@media screen and (max-width: 1190px) {
  div#toolbar {
  	height: 7.6em;
		width: 641px;
		margin: 0 auto;
  }
}
@media screen and (max-width: 660px) {
	div#toolbar {
		display: none;
	}

}


/*
Media Queries and Style for Mobile
(down to viewport 505px)
 */
@media screen and (min-width: 661px) {
	#pull-row {
		display: none;
	}
}
@media screen and (max-width: 660px) {
	div#toolbar {
		width: auto;
		height: 8em;
		text-align: center;
	}
	.up-arrow-text, .samples-text, .grid-text {
		display: none;
	}
	.up-arrow, .samples-icon, .grid-icon {
		float: none;
	}
}
#pull-row {
	background-color: #f2f2f2;
	border: 1px #e6e6e6 solid;
	font-family: verdana, calibri, arial;
	letter-spacing: .065em;
	font-size: .9em;
}
#pull-icon {
	font-size: 2.5em;
	color: #999999;
	margin-left: .2em;
	position: relative;
	top: -.05em;
}
#pull-row:hover {
	cursor: pointer;
}
/* #pull-row .pull-text {
	float: right;
	margin: 1.2em .5em;
	color: #6d6d6d;
	font-size: .85em;
} */
